body {
  min-width: 960px;
  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  background: #000000 url("../img/background.jpg") no-repeat center top;
}

.inner-page {
  color: #000000;
  background: #f8f3f0 url("../img/pattern-white.jpg") repeat;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

/* ===== HEADER ===== */
.main-header {
  margin-bottom: 57px;
  color: #ffffff;
  background-color: #000000;
}

.inner-page .main-header {
  margin-bottom: 55px;
}

.main-navigation {
  float: left;
  width: 780px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:hover {
  background-color: #242424;
}

.main-navigation .header-logo {
  float: left;
  display: block;
  width: 111px;
  height: 20px;
  padding-top: 23px;
}

.main-navigation .header-logo:hover {
  background: none;
}

.main-navigation .header-logo img {
  height: 24px;;
  width: 111px;
}

.main-navigation .active {
  position: relative;
  background-color: none;
}

.main-navigation .active a:hover {
  background: none;
}

.main-navigation .active::after {
  position: absolute;
  content: "";
  left: 20px;
  right: 20px;
  height: 4px;
  bottom: 0;
  background-color: #ffffff;
}

.main-navigation .active span {
  display: block;
  padding: 25px 20px;
}

.user-block {
  float: right;
  max-width: 140px;
}

.login {
  position: relative;
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  vertical-align: top;
}

.login:hover {
  background-color: #242424;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -5px;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

/* ===== INDEX.HTML CONTENT ===== */
.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}

.features-name {
  position: relative;
  display: block;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 30px;
  padding-bottom: 40px;
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.features-name::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.index-content {
  padding: 50px 80px;
  margin-bottom: 35px;
  color: #000000;
  background: url("../img/line-shadow.png") no-repeat center, #f8f5f2 url("../img/pattern-white.jpg");
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;
  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;
  font-weight: 400;
}

.btn {
  display: inline-block;
  padding: 10px 33px;
  margin-right: 16px;
  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

.gallery {
  position: relative;
  height: 260px;
}

.gallery-content {
  margin: 0;
  height: 164px;
  border: 7px solid #ffffff;
  background-color: #cccccc;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 140px;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

/* ===== INNER PAGES CONTENT ===== */
.inner-page-title {
  margin-bottom: 55px;
}

.inner-page-title h1 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  display: inline;
  padding-right: 40px;
}

.breadcrumbs li::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 4px;
  right: 18px;
  background-color: #000000;
  transform: rotate(45deg);
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs .current {
  color: #aba9a7;
}

.breadcrumbs .current::after {
  display: none;
}

.info-content {
  margin-bottom: 80px;
}

.info-content h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
}

.info-content h3 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px;
}

.info-content h2 + h3 {
  margin-top: 30px;
}

.info-content p {
  margin: 14px 0;
}

.info-content table {
  border-collapse: collapse;
}

.info-content td {
  padding: 10px 15px;
  border: 2px solid #000000;
}

.big-heading {
  margin-top: 55px;
  margin-bottom: 65px;
  text-align: center;
}

.big-heading h2 {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 25px;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  z-index: 2;
  background: #f8f3f0 url("../img/pattern-white.jpg") repeat;
}

.big-heading::after {
  position: relative;
  content: "";
  display: block;
  top: -25px;
  border-bottom: 2px solid #000000;
  z-index: 1;
}

.custom-list-1 {
  margin: 14px 0;
  padding: 0;
  list-style: none;
}

.custom-list-1 li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;
}

.custom-list-1 li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  height: 8px;
  width: 8px;
  background-color: #000000;
  transform: rotate(45deg);
}

.prices-table {
  width: 100%;
}

.prices-table td {
  width: 50%;
}

.prices-table td:last-child {
  text-align: center;
}

.info-columns {
  margin: 60px 0;
}

.info-column-left,
.info-column-right {
  width: 460px;;
}

.info-column-left {
  float: left;
}

.info-column-right {
  float: right;
}

.info-column-left *:first-child,
.info-column-right *:first-child {
  margin-top: 0;
}

.info-column-left *:last-child,
.info-column-right *:last-child {
  margin-bottom: 0;
}

.short-text {
  padding-right: 80px;
}

.catalog-content {
  margin-bottom: 50px;
}

.catalog-filters {
  float: left;
  width: 200px;
  margin-right: 40px;
  margin: 0;
  padding: 0;
}

.catalog-filters fieldset {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  border: 0;
}

.catalog-filters legend {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 32px;
}

.catalog-filters label {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  display: block;
  padding: 0;
  padding-left: 43px;
  margin: 0;
  margin-bottom: 15px;
  cursor: pointer;
}

.catalog-filters label:last-child {
  margin-bottom: 0;
}

.catalog-filters label:hover {
  color: #663d15;
}

.catalog-filters input[type="checkbox"],
.catalog-filters input[type="radio"] {
  display: none;
}

.catalog-filters input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}

.catalog-filters input[type="checkbox"]:checked + .checkbox-indicator::before,
.catalog-filters input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}

.catalog-filters input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.catalog-filters input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

.catalog-filters input[type="radio"] + .radio-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.catalog-filters input[type="radio"]:checked + .radio-indicator::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #000000;
}

.catalog-gallery {
  float: right;
  width: 700px;
}

.gallery-items {
  font-size: 0;
  line-height: 0;
  margin-bottom: 25px;
}

.gallery-item {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.gallery-item:hover {
  box-shadow: 5px 0 25px 0 rgba(0, 1, 1, 0.3);
}

.gallery-item:nth-child(3n) {
  margin-right: 0;
}

.gallery-item img {
  width: 220px;
  height: 165px;
}

.gallery-item .item-description {
  padding: 16px;
}

.gallery-item .category,
.gallery-item .title {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: #000000;
}

.item-description > a {
  text-decoration: none;
}

.item-buy {
  font-size: 0;
  line-height: 0;
}

.gallery-item .item-buy {
  margin-top: 16px;
}

.item-buy .buy-price {
  background-color: #e5e5e5;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  padding: 11px 0;
  text-align: center;
  vertical-align: middle;
  width: 109px;
}

.item-buy .btn {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 11px 0;
  text-align: center;
  vertical-align: middle;
  width: 78px;
}

.catalog-paginator {
  list-style: none;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.catalog-paginator li {
  display: inline-block;
  margin-right: 7px;
  width: 43px;
  font-size: 14px;
  line-height: 24px;
  background-color: #000000;
  vertical-align: top;
  text-align: center;
}

.catalog-paginator li:last-child {
  margin-right: 0;
}

.catalog-paginator a {
  display: block;
  box-sizing: border-box;
  padding: 11px 0;
  color: #ffffff;
  text-decoration: none;
}

.catalog-paginator a:hover {
  background-color: #663d15;
}

.catalog-paginator .current {
  padding: 11px 0;
  background-color: #ffffff;
  color: #000000;
  cursor: default;
}

.item-content-left {
  float: left;
  margin-right: 80px;
  width: 460px;
}

.item-content-left img {
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.item-content-left img:hover {
  box-shadow: 5px 0 25px 0 rgba(0, 1, 1, 0.3);
}

.main-picture {
  margin: 0;
  padding: 0;
}

.main-picture img {
  width: 460px;
  height: 498px;
}

.preview-container {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

.preview-container a {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-top: 20px;
}

.preview-container a:nth-child(3n) {
  margin-right: 0;
}
.preview-container img {
  width: 140px;
  height: 149px;
}

.item-content-right {
  float: right;
  margin-top: 20px;
  width: 400px;
}

.item-content-right .item-status {
    margin-bottom: 30px;
}

.item-status .item-stock {
  float: left;
  width: 180px;
  margin-right: 20px;
}

.item-status .item-sku {
  float: right;
  margin-right: 10px;
  color: #aeaeae;
}

.item-content-right .item-description {
  margin-bottom: 35px;
}

.item-content-right .item-buy {
  margin-bottom: 60px;
}

.item-bundle h2 {
  margin-bottom: 30px;
}

.item-bundle li {
  margin-bottom: 4px;;
}

/* ===== FOOTER ===== */
.main-footer {
  margin-top: 65px;
  padding-top: 58px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525 url("../img/pattern-black.jpg");
}

.inner-page .main-footer {
  margin-top: 50px;
  background: url("../img/footer-shadow.png") repeat-x, #252525 url("../img/pattern-black.jpg");
}

.inner-page .main-footer {
  margin-top: 50px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 80px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  max-width: 180px;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #000000 url("../img/sprite.png") no-repeat center;

  transition:
    background-position 0.5s,
    background-color 0.5s;
}

.social-btn-vk {
  background-position: 5px -165px;
}

.social-btn-fb {
  background-position: 12px -42px;
}

.social-btn-insta {
  background-position: 7px -105px;
}

.social-btn-vk:hover {
  background-color: #ffffff;
  background-position: 5px -191px;
}

.social-btn-fb:hover {
  background-color: #ffffff;
  background-position: 12px -74px;
}

.social-btn-insta:hover {
  background-color: #ffffff;
  background-position: 7px -136px;
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.footer-copyright .btn:hover {
  background-color: #ffffff;
  color: #000000;
}

/* ===== POPUP WINDOWS ===== */
.modal-content {
  display: none;
  position: fixed;
  z-index: 30;
  top: 120px;
  left: 50%;
  margin-left: -230px;
  width: 300px;
  padding: 50px 80px;
  color: #000000;
  background: #f8f3f0 url("../img/pattern-white.jpg");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-map {
  display: none;
  position: fixed;
  z-index: 30;
  top: 50%;
  left: 50%;
  width: 766px;
  height: 560px;
  margin-top: -280px;
  margin-left: -390px;
  background: #e9e5dc url("../img/map.jpg");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  border: 7px solid #ffffff;
}

.modal-overlay {
  position: fixed;
  display: none;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  font-size: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -1px;
  width: 24px;
  height: 5px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}

.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}

.modal-content .login-form {
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 236px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 24px;
  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-form input.icon-user {
  background-image: url("../img/icon-user.png");
  background-repeat: no-repeat;
  background-position: 268px 50%;
}

.login-form input.icon-password {
  background-image: url("../img/icon-password.png");
  background-repeat: no-repeat;
  background-position: 268px 50%;
}

.login-form .restore {
  float: right;
  color: #000000;
}

.login-form .btn {
  width: 100%;
  margin-top: 15px;
}

.login-checkbox input[type="checkbox"] {
  display: none;
}

.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.login-checkbox:hover {
  color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -2px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}
